// General Mixins 

// --- For Responsiveness --- //

@mixin breakpoint($point) {
    @if $point == md {
        @media screen and (min-width: 30rem) {
            @content;
        }
    }
}

@mixin mobileDefaultContent {
    display: flex;
    flex-direction: column;
    flex: 1 100%;
    display: block;

    @include breakpoint(md) {
        padding: 0 11rem;
    }
}